<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home About Page</h1>
    <hr>
    <h1>Hello your name is <%= data.name%></h1>
    <!-- syntax-
    
    
    1- logical code- if for looping condition

                    <% if () { %>

                    <% } %>

    2- as a html content
        <%-   html content %>

    3-  as a text content
        <%= text content %>

    4-  import one ejs into another ejs
          <%- include('filename')%>
    -->
    
</body>
</html>